
      <div id="home">
      <div id="backgroundVideo">
      
   
   
          <div class="etykieta">
            <div class="wlasciwa"> 
            <div class="title">
            
              <h1  id="baner">
                #Czarek-Kierowca
              </h1>
              <div class="description">
                <h2  >Sprawdź i dodaj swój termin</h2>
                <div *ngIf="!(user | async)?.uid" (click)="login()" (click)="doTerminow()" id="buttonStart" class="ui huge primary button description"><i  id="znaczekGoogle" class="fa fa-google" aria-hidden="true"></i> Zaloguj</div>
              </div>
            
            </div>
          </div>
          </div>
        
  
        <video *ngIf="duzy" id="vidi" autoplay loop class="fillWidth" muted>
          <source src="./../../../assets/video/jeep.mp4" type="video/mp4"/>Your browser does not support the video tag. I suggest you upgrade your browser.</video>
          
      </div>
  <section id="wybor">
      <div class="containerP">
          <div class="rowP">
              <div class="rownosc" [ngsReveal]="{  origin: 'left', duration: '2000', distance: '300px'}">
                  <button (click)="onCena()" class="buttonWyboru">
                    <i class="fa fa-money" ></i>
                    <span>Cena</span>
                  </button>
          
                </div>
                <div class="rownosc"  [ngsReveal]="{  origin: 'top', duration: '2000', distance: '100px'}">
                    <button routerLink="/listings" class="buttonWyboru">
                      <i style="font-size: 23px;" class="fa fa-info-circle " ></i>
                      <span>Terminy</span>
                    </button>
          
                </div>

                <div class="rownosc" [ngsReveal]="{ origin: 'bottom', duration: '2000', distance: '200px'}">
                    <button (click)="onKontakt()" class="buttonWyboru">
                    <i class="fa fa-phone " ></i>
                        <span>Kontakt</span>
                    </button>
          
                </div>

          </div>
        </div>
  </section>
  <section id="prezentacja">
      <div class="containerP">
          
          <div class="tloLas">
              <div class="filtr"></div>
          </div>
    
          <div class="rowS">

              <div [ngsReveal]="{  origin: 'left', duration: '2000', distance: '300px'}">
                  <h1 class="leadNapis" [ngsReveal]="{ reset: true, origin: 'left', duration: '2000', distance: '300px', deley: '1000'}">Poczój moc 5.7 litrowej bestii</h1>
                  <img class="centerImg" id="jeepFoto" src="../assets/jeep.png" [ngsReveal]="{ reset: true, origin: 'bottom', duration: '2000', distance: '300px'}" />
          
                </div>

          </div>
            <div class="flexo">
                
            <div class="lewe" [ngsReveal]="{  origin: 'left', duration: '2000', distance: '300px'}">
                
              <ul>
                  <li><strong>Osiągi</strong> </li>
                  <li>Liczba cylindrów: 8 w układzie V (V8)</li>
                  <li>Maks. moc: 468 KM przy 6250 obr./min</li>
                  <li>Stały napęd 4×4</li>
              </ul>
          </div>
          <div class="prawe" [ngsReveal]="{  origin: 'top', duration: '2000', distance: '100px',deley: '1000'}">
              <ul >
                <li >
                  Prześwit: 20 cm
                </li>
                <li >
                  Przyspieszenie 0–100 km/h: 5,0 s.
                </li>
                <li >
                  Prędkość maksymalna: 257 km/h
                </li>
              </ul>
            </div>
          </div>
      </div>

  

  </section>
  <section id="historia">
    <div class="conteinerH">
      <div class="obrazH">
          <img  class="jeepH" src="../assets/jeepold.jpg" />
      </div>
      <div class="tekstH">
          <div  [ngsReveal]="{ reset: true}">
              <h1 >Marka Jeep to światowa legenda motoryzacji</h1>
      
              <p>
                Marka Jeep to światowa legenda motoryzacji
                Pomysł na samochód z napędem na 4 koła narodził się już w początkach motoryzacji. Przez lata stosowano go jednak w nielicznych pojazdach, niemal wyłącznie militarnych. Willys MA/MB Jeep i jego następcy dokonali wielkiego przełomu – terenówki stały się produkowanymi w dużych ilościach pojazdami ogólnodostępnymi. Po wojnie Jeep wyznaczył standardy dla innych producentów.
              </p>
              <div  [ngsReveal]="{ reset: true}">
                  <h1> Konstrukcja stworzona przez Willys – Overland jako prototyp dla rządu USA sprawdziła się dzięki prostej i niezawodnej konstrukcji podczas wojny. I tym samym stała się światową ikoną offroadu i napędu 4x4</h1>
          
                </div>
            </div>
      </div>
 
    </div>
    <div class="conteinerH">
      <div class="tekstH2">
          <h1>Model Grand Cherokee </h1>
          <p>
              Bogatszy, szybszy, luksusowy bart mniejszego Jeepa Cherokee. Dostarcza luksus jaki i pozwala na pełnoprawną jazdę terenową.
          Stanowił przełom w inżynierii takich aut łącząc w sobie komfort pasażera oraz właściwości terenowe.
            </p>
      </div>
      <div class="obrazH2">
        <img class="jeepGC" src="../assets/jeepcold.jpg" />
      </div>
    </div>  

  </section>
  <section id="dzis">
      <div class="containerP">
        <div class="rowD">
            <h1 class="leadH1" [ngsReveal]="{ reset: true}"> Grand Cherokee dziś  </h1>
            <div class="pajak">
                <div  class="logoJ" [ngsReveal]="{  origin: 'bottom', duration: '1000', distance: '300px'}"></div>
            </div>
            <div class="pajak2">
                <div  class="skoraJ" [ngsReveal]="{  origin: 'left', duration: '2000', distance: '300px',deley: '1000'}"> </div>
                <p class="tekstPajka" [ngsReveal]="{  origin: 'bottom', duration: '2000', distance: '300px',deley: '1000'}">
                    Ekskluzywne i perfekcyjnie spasowane  wykończenie
                 </p>
            </div>
           

        </div>
      </div>
  </section>
  
  
  
  <div class="ui middle aligned stackable grid container">
   
<div class="row" style="margin-top: 10%;">

    
    
      
  
  
   
      

      
      <div class="eight wide column"  [ngsReveal]="{reset: true, origin: 'bottom', duration: '2000', distance: '300px',deley: '1500'}">
        <p style="font-size: 40px; padding-left: 10%; padding-bottom: 10%;">
           Ekskluzywne i perfekcyjnie dokładne wykończenie
        </p>

      </div>

      <div class="sixteen wide column" id="fotel" [ngsReveal]="{  origin: 'bottom', duration: '2000', distance: '300px',deley: '1000'}">


      </div>
      <div class="sixteen wide column"  [ngsReveal]="{reset: true, origin: 'left', duration: '2000', distance: '300px',deley: '1500'}">
        <p style="font-size: 40px;  padding-bottom: 10%; text-align: center">
          Technologia i piękno
        </p>

      </div>
      <div class="sixteen wide column" id="swiatlo" [ngsReveal]="{  origin: 'bottom', duration: '2000', distance: '300px',deley: '1000'}">


      </div>


      <section id="cena">
            </section>
  <div class="sixteen wide column " style="margin-top:5%;" [ngsReveal]="{ reset: true}">
    <h1>Pakiety cenowe</h1>
  </div>
  <div class="eight wide column cenki" [ngsReveal]="{ reset: true}">
        <div class="ui cards">
  <div class="card karta">
    <div class="content">
      <h1 style="margin-left:20%;font-size: '30px'">Podstawowy</h1>
      <div class="description">
        <div class="ui relaxed divided list">
  <div class="item">

    <div class="content">
      <h2></h2>
      <div class="description">Pakiet cenowy</div>
    </div>
  </div>
  <div class="item">

    <div class="content">
      <h2 style="font-size: 25px">Przystrojenie</h2>

    </div>
  </div>
  <div class="item">

    <div class="content">
      <h2 style="font-size: 25px">Transport</h2>
        <div class="description">Dojazd i powrót jest dodatkow wliczany w cenę</div>
    </div>

  </div>
  <div class="item">

    <div class="content">
      <h1  style="font-size: 30px; margin-left:30%">Cena: 500zł</h1>

    </div>

  </div>
</div>
      </div>
    </div>

  </div>
  </div>
</div>
<div class="sixteen wide column" style="margin-top:7%;" [ngsReveal]="{ reset: true}">
  <h1>Kontakt</h1>
</div>
<section id="kontakt">

</section>
    </div>
  </div>



<div class="ui fluid container" *ngIf="duzy">
    <div class="row">
    <div  class="sixteen wide column" id="kontakto" [ngsReveal]="{ reset: true}">
      <div class="ui cards" [ngsReveal]="{  origin: 'bottom', duration: '2000', distance: '300px', deley: '1000'}" >

<div class="card karta" style="font-size:20px; width:384px; margin-top: 5%;">
  <div class="content">

    <div class="description">
      <div class="ui relaxed divided list">
        <div class="item">
          <i class="fa fa-user" ></i>
       <div class="content" style="display: inline-block; margin-left: 4%;">
        #Czarek-Kierowca
       </div>
      </div>
      <div class="item">
       <i class="fa fa-map-marker" ></i>
     <div class="content" style="display: inline-block; margin-left: 4%;">
      PL, Siedlce
     </div>
    </div>
    <div class="item">
        <i class="fa fa-envelope-o" ></i>
        <div class="content" style="margin-left: 4%; display: inline-block;font-size: 0.9em; ">
          <a href="mailto:czarek.kierowca.siedlce@gmail.com">czarek.kierowca.siedlce@gmail.com</a>
        </div>
      </div>
        <div class="item">
         <i class="fa fa-phone" ></i>
       <div class="content" style="display: inline-block; margin-left: 4%;">
        530 044 418
       </div>
      </div>
</div>
    </div>
  </div>

</div>
</div>
    </div>

</div>

</div>
</div>