#backgroundVideo{
    position: relative;
    margin-top: 5vh;
    height: 95vh;
    width: 100%;
    z-index: 1;
    overflow: hidden;
  
  }
  #backgroundVideo video{
    width: 100%;
    object-fit: fill;
    z-index: -5;
  }
  .etykieta{
    height: 100%;
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  section{
    margin-bottom: 10vh;
  }
  
  .wlasciwa{
    text-align: center;
    box-sizing: border-box;
    background-color: rgba(189,189,189,0.5);
    padding: 42px 56px;
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    justify-self: center;
  }
  .title{
    color:white;
  }
  .containerP{
      position: relative;
      display: grid;
      grid-template-columns: auto 1fr auto;
      width: 100%;
      height: 100%;

  }
.conteinerH{
  display: grid;
  grid-template-columns: auto 1fr 1fr auto;
  width: 100%;
  height: 100%;
  margin-bottom: 8vh;
}
  .rowP{
    box-sizing: border-box;
    padding: 80px;
      height: 100%;
      width: 70%;
      grid-column: 2;
      align-self: center;
      justify-self: center;
      display: flex;
  }
  .rowS{
    grid-row: 1;
    height: 100%;
    width: 100%;
    grid-column: 2;
    align-self: center;
    justify-self: center;
  }
  .rowD{
    grid-row: 1;
    height: 100%;
    width: 92%;
    grid-column: 2;
    align-self: center;
    justify-self: center;
  }
  .lewe{
    font-family: inherit;
    color: var(--var-bialy);
    grid-column: 1;
    align-self: center;
    justify-self: center;
  
  }
  .prawe{
    font-family: inherit;
    color: var(--var-bialy);
    grid-column: 3;
    align-self: center;
    justify-self: center;

  }
  .rownosc{
    flex: 1;
  }
  .leadNapis{
    font-size: 41px;
    color: var(--var-bialy);
    margin-bottom: 0;
  }
  ul{
    list-style: none;
    font-family: inherit;
    font-size: 20px;
  }
  .buttonWyboru{
    transition: box-shadow 1s;
    box-shadow: 1px 1px 1px var(--var-czarny);
    padding: 20px 109px;
    font-size: 24px;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid var(--var-czarny);
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    font-family: inherit;
  
  }
  .buttonWyboru:hover{
    animation: cienie 1s linear forwards ;
  }
  .tloLas{
    z-index: -4;
    width: 100%;
    position: absolute;
    height:70%;
    animation: tla 15s linear infinite  alternate;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  @keyframes tla{
    0%{
      background-image: url('../../../assets/forest.png');
    }
    50%{
      background-image: url('../../../assets/beskidy.png');
    }
    100%{
      background-image: url('../../../assets/peter.jpg');
    }
  }
  .filtr{
    position: absolute;
    background-color: rgba(97,97,97,0.5);
    width: 100%;
    height: 100%;
  }

  @keyframes cienie{
    0%{
      box-shadow: 1px 1px 1px var(--var-czarny);
    }
    25%{
      box-shadow: 2px 2px 2px var(--var-czarny);
    }
    50%{
      box-shadow: 4px 4px 4px var(--var-czarny);
    }
    75%{
      box-shadow: 8px 8px 8px var(--var-czarny);
    }
    100%{
      box-shadow: 16px 16px 16px var(--var-czarny);
    }
  }
  .buttonWyboru i{
    margin-right: 10px;
  }
  .odstep{
      margin-right: 14px;
  }
  .centerImg{
    display: block;
    margin: 0 auto;
  }
  #jeepFoto{
    width: 65%;
  }
  .jeepH{
    width: 100%;
  }
  .jeepGC{
    width: 100%;
  }
  .obrazH{
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    width: 70%;
  }
  .obrazH2{
    grid-column: 3;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    width: 80%;
  }
  .tekstH{
    grid-row: 1;
    grid-column: 3;
    align-self: center;
    justify-self: center;
    width: 70%;
  }
  .tekstH2{
    grid-row: 1;
    grid-column: 2;
    align-self: center;
    justify-self: center;
    width: 70%;
  }
  .tekstH p{
    font-size: 18px;
  }
  .tekstH2 p{
    font-size: 18px;
  }
  .flexo{
    grid-row: 1;
    grid-column: 1;
    align-self: center;
  }
  .logoJ{
    height: 100%;
    grid-row: 1;
    grid-column: 2;
    align-self: center;
    justify-self: center;
    /* transition: width 6s ease-in-out;
    width: 100%; */
    animation: szerokos 3s linear forwards;
    background-image: url('../../../assets/jeepl.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .pajak{
    display: grid;
    grid-template-columns: auto 1fr auto;
    width: 100%;
    height: 50vh;
    margin-bottom: 9vh;
  }
  .pajak2{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    height: 50vh;
    grid-gap: 10px;
    margin-bottom: 9vh;
  }
  .tekstPajka{
    font-size: 65px;
    font-family: inherit;
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  .skoraJ{
    height: 100%;
    grid-row: 1;
    grid-column: 1;
    align-self: center;
    justify-self: center;
    /* transition: width 6s ease-in-out;
    width: 100%; */
    animation: szerokos 3s linear forwards;
    background-image: url('../../../assets/kieroJ.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .leadH1{
    font-size: 42px;
  }
  @keyframes szerokos{
    from{
      width: 0;
    }
    to{
      width: 100%;
    }
  }
  @media (max-width: 1600px){
    .rowP{
      width: 100%;
    }
    #backgroundVideo{
      height: 75vh;
    }
  }
  @media(max-width: 1450px){
    #jeepFoto{
     width: 80%;
    }

  }
  @media (max-width: 1250px){
    #backgroundVideo{
      height: 55vh;
    }
    .containerS{
      display: block;
    }
    .rowS{
      margin: 0 auto;
      width: 79%;
    }
    .tloLas{
      display: none;
    }
    .leadNapis{
      color: var(--var-czarny);
    }
    .flexo{
      width: 100%;
      display: flex;
    }
    .lewe{
      flex-grow: 1;
      color: var(--var-czarny);
    }
    .prawe{
      flex-grow: 1;
      color: var(--var-czarny);
    }

  }
  @media (max-width: 1160px){
    .rowP{
      display: block;
    }
    .buttonWyboru{
      width: 100%;
      justify-content: center;
      margin-bottom: 10px;
     
    }
  }
  @media(max-width: 930px){
    #backgroundVideo{
      height: 35vh;
    }
  }
  @media(max-width:650px){
    .rowP{
      padding: 10px;
    }
    video{
      display: none;
    }
    #backgroundVideo{
      height: 313px;
      background-color: var(--var-szary);
    }
    .wlasciwa{
      grid-row: 1;
    }
  }