@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body{
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;

}
:root{
  --var-czarny: #212121;
  --var-bialy: #eceff1;
  --var-szary: #bdbdbd;
  
}